<a href="https://colab.research.google.com/github/superlui04/Python_CrashCourse/blob/main/Exercise1_Li_Chia.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Exercise using Data Structure and Comparison operators**

## Test your knowledge. 

** Answer the following questions **

Write a brief description of all the following Object Types and Data Structures we've learned about. You can edit the cell below by double clicking on it. Really this is just to test if you know the difference between these, so feel free to just think about it, since your answers are self-graded.

Double Click HERE to edit this markdown cell and write answers.

Numbers: These may come in the form of numerical whole numbers,float ,long and complex.

Strings: These are sequence of characters enclosed with ' or " .

Lists: These are collections of any data type which are mutable.

Tuples: These are collections of any data type which are immutable meaning cannot be changed / modified. 

Dictionaries: These are collections of data in key value pair form. They are in array-like structure (as inhash table)

## Numbers

Write an equation that uses multiplication, division, an exponent, addition, and subtraction that is equal to 100.25.

Hint: This is just to test your memory of the basic arithmetic commands, work backwards from 100.25

In [ ]:
4** 5/10.24+.50-.25

100.25

Answer these 3 questions without typing code. Then type code to check your answer.

    What is the value of the expression 4 * (6 + 5) =44
    
    What is the value of the expression 4 * 6 + 5 =29
    
    What is the value of the expression 4 + 6 * 5 =34

In [ ]:
a= 4 * (6 + 5) 
    
b= 4 * 6 + 5 
    
c= 4 + 6 * 5
print (a)
print (b)
print (c)

44
29
34

What is the *type* of the result of the expression 3 + 1.5 + 4?<br><br> float

What would you use to find a numberâ€™s square root, as well as its square?

In [ ]:
# Square root: **
import math

square_root = math.sqrt(16)
print(square_root)

#alternatively, we can use this. 
square_root = 16**0.5
print(square_root)

4.0

In [ ]:
# Square:
n=given number
# n^2

5**5

## Strings

Given the string 'hello' give an index command that returns 'e'. Enter your code in the cell below:

In [ ]:
s = 'hello'
# Print out 'e' using indexing
s[1]

'e'

Reverse the string 'hello' using slicing:

In [ ]:
s ='hello'
# Reverse the string using slicing
s[::-1]
#cool syntax

'olleh'

Given the string hello, give two methods of producing the letter 'o' using indexing.

In [ ]:
s ='hello'
# Print out the 'o'

# Method 1:

s[4:]
s

'o'

In [ ]:
# Method 2:

s[-1]

'o'

## Lists

Build this list [0,0,0] two separate ways.

In [ ]:
# Method 1:
list1=[1,2,3,4,5,6,7]

In [ ]:
# Method 2:
list2=[1]+[2]+[3]+[4]+[5]+[6]

[link text]Reassign 'hello' in this nested list to say 'goodbye' instead:

In [ ]:
list3 = [1,2,[3,4,'hello']]

list4=list3[2]
list4 [2]='goodbye'
list3

[1, 2, [3, 4, 'goodbye']]

Sort the list below:

In [ ]:
list4 = [5,3,4,6,1]

list4.sort()
list4

[1, 3, 4, 5, 6]

## Dictionaries

Using keys and indexing, grab the 'hello' from the following dictionaries:

In [ ]:
d = {'simple_key':'hello'}
# Grab 'hello'
d ['simple_key']

'hello'

In [ ]:
d = {'k1':{'k2':'hello'}}
# Grab 'hello'
d['k1']['k2'][0:]

'hello'

In [ ]:
# Getting a little tricker
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}

#Grab hello
d['k1'][0]['nest_key'] [1]

['hello']

In [ ]:
# This will be hard and annoying!
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}
d['k1'][2]['k2'][1]['tough'][2]

['hello']

Can you sort a dictionary? Why or why not?<br><br>
Generally no. Dictionaries data structure are orderless unlike list. Alternatively, It is recommended to use list or tuples.

There is module available for version 3.6 and up to workaround this.
 
To know more, kindly see [attached](https://www.geeksforgeeks.org/python-sort-a-dictionary/)

## Tuples

What is the major difference between tuples and lists?<br><br>
List are mutable, Tuples are immutable.

How do you create a tuple?<br><br>
# eg a =("a","b","c")

## Sets

What is unique about a set?<br><br>
Set items are unordered, unchangeable, and do not allow duplicate values.

Use a set to find the unique values of the list below:

In [ ]:
list5 = [1,2,2,33,4,4,11,22,3,3,2]
set(list5)

{1, 2, 3, 4, 11, 22, 33}

## Booleans

For the following quiz questions, we will get a preview of comparison operators. In the table below, a=3 and b=4.

<table class="table table-bordered">
<tr>
<th style="width:10%">Operator</th><th style="width:45%">Description</th><th>Example</th>
</tr>
<tr>
<td>==</td>
<td>If the values of two operands are equal, then the condition becomes true.</td>
<td> (a == b) is not true.</td>
</tr>
<tr>
<td>!=</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
<td> (a != b) is true.</td>
</tr>
<tr>
<td>&gt;</td>
<td>If the value of left operand is greater than the value of right operand, then condition becomes true.</td>
<td> (a &gt; b) is not true.</td>
</tr>
<tr>
<td>&lt;</td>
<td>If the value of left operand is less than the value of right operand, then condition becomes true.</td>
<td> (a &lt; b) is true.</td>
</tr>
<tr>
<td>&gt;=</td>
<td>If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &gt;= b) is not true. </td>
</tr>
<tr>
<td>&lt;=</td>
<td>If the value of left operand is less than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &lt;= b) is true. </td>
</tr>
</table>

What will be the resulting Boolean of the following pieces of code (answer fist then check by typing it in!)

In [ ]:
# Answer before running cell  -False
2 > 3

False

In [ ]:
# Answer before running cell -False
3 <= 2

False

In [ ]:
# Answer before running cell -False
3 == 2.0

False

In [ ]:
# Answer before running cell -True
3.0 == 3

True

In [ ]:
# Answer before running cell -False
4**0.5 != 2

False

Final Question: What is the boolean output of the cell block below?

In [ ]:
# two nested lists
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

# True or False?
l_one[2][0] >= l_two[2]['k1']  #True

False